<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Alejandro Website Admin!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="{{ asset('bundles/schmechelwebsite/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/schmechelwebsite/css/carrousel.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/schmechelwebsite/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body style="background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; background-color:#282828; background-size:16px 16px;">
      <div id="container">
        <div id="main-box">
          <div id="navigation">
            <ul class="nav nav-pills nav-stacked" style="max-width: 200px; height: 500px; font-family: 'Special Elite', cursive; font-size: 30px; color: #ccc">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
        </div>
      </div>
    </body>
</html>
